@{
    ViewData["Title"] = "Home Page";

}@{
    string enderecoEmail = "sac@btztransports.com.br";
}

<div class="text-center mt-5">
    <h1 class="display-4"><strong>BTZ Transports</strong> </h1>
</div>
<div style="margin-top:150px; font-size: 20px;">
    <p><strong>Endereço:</strong> Av. das Palmeiras, 40 – Maringá – PR</p>
    <p><strong>Contato:</strong> (44) 3246-4144 / (44) 99999-8888 (whats) -  <a href="mailto:@enderecoEmail" style="text-decoration: underline; color: blue;">@enderecoEmail</a> </p>
    <p><strong>Horário de atendimento:</strong> seg/sex – 08h00 – 22h00 </p>
</div>
